<header>

    <a><img src="https://res.cloudinary.com/dtvypcack/image/upload/v1701711075/logo_recorte_dxihjz.png" class="logo"></a>
    <nav>
        <ul>
            <li><a asp-action="Index" asp-area="" asp-controller="Home">Home</a></li>
            <li><a asp-area="" asp-controller="OurServices" asp-action="Index">Categorias</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item dropdown">
                    <a href="#" id="admin">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a class="add" asp-area="" asp-controller="Carros" asp-action="Adicionar">Add Carro</a></li>
                        <li><a class="listando" asp-area="" asp-controller="Carros" asp-action="Listar">Listar Carros</a></li>
                        <li>
                            <a class="add" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
                        </li>
                    </ul>
                </li>
            }
            <partial name="_LoginPartial" />
    </nav>
</header>
<main>
    <form class="formu" asp-action="Remover" method="post">
        <h1 class="add-cars-title">Remover Carro - Administrador</h1>
            <div class="card">
                <div class="main-content">
                    <div class="title-content">
                        <div>
                            <h1>@Model.Marca @Model.Modelo</h1>
                        </div>
                        <div>
                            <h1>@Model.Placa</h1>
                        </div>
                    </div>
                    <div class="id-content">
                        <p>Id: @Model.Id</p>
                    </div>
                    <div class="botoesAcao">
                        <div class="botaoVoltar">
                            <a asp-area="" asp-controller="Carros" asp-action="Listar">Voltar </a>
                        </div>
                        <div>
                        <input class="botaoRemover" type="submit" value="Deletar" />
                        </div>
                    </div>
                </div>
            </div>
    </form>
</main>


<footer>

    <div class="footer-main">
        <div class="footer-about">
            <p class="footer-title">Sobre a LeanIt</p>
            <p class="footer-paragraph-about">Nós levamos a outro nível a locomoção por meio de nossa tecnologia</p>
            <div class="icons-about"><i class="fa-brands fa-youtube"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-square-x-twitter"></i></div>
        </div>

        <div class="footer-extra">
            <p class="footer-title">Nossa Página</p>
            <p><a href="#">Nosso blog</a></p>
            <p><a href="#">Sobre o Projeto</a></p>
            <p><a href="https://www.entra21.com.br/" target="_blank">Entra21</a></p>
            <p><a href="#">Planos de Carreira</a></p>
            <p>@Html.ActionLink("Guia Turístico", "Index", "Turismo")</p>
            <p>@Html.ActionLink("Termos de Uso", "Index", "Termos")</p>
        </div>

        <div class="footer-contact">
            <p class="footer-title">Contate-nos</p>
            <p class="paragraph-contact paragraph-contact-top"><i class="fa-solid fa-phone phone-icon"></i>+55 (47) 9999-9999</p>
            <p class="paragraph-contact"><i class="fa-solid fa-envelope email-icon"></i><a href="#">contact@leanit.com</a></p>
        </div>
    </div>

    <p class="footer-copyright">Copyright © 2023 All rights deserved</p>

</footer>



@section Styles {

    <link rel="stylesheet" href="~/css/remover.css" />
}

@section Scripts{
    <script src="~/js/contagemMinutos.js"></script>
}